
html{
    font-size: 3vw;
}
body{
    font-size: 0.7vw;
    /* height: 700vw; */
}

$hdr01 : #{'min(1.6em,16px)'};
$hdr02 : #{'min(1rem,40px)'};
$bnr01 : #{'min(7rem,280px)'};
$cnt01 : #{'min(7.5em,75px)'};
$cnt02 : #{'min(0.5rem,20px)'};
$cnt03 : #{'min(9rem,360px)'};

// 헤더
.hdrWrap{
    header{
        display: block;
        // width: 200%;        
        h1{
            width: calc(100% / 4 * 2.5);
            background-image: url('../image/hollyscoffeelogo1.jpg');
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            text-align: center;
            height: $cnt01;
            margin: auto;
            line-height: $hdr02;
            margin-bottom: 20px;
        }
        nav{
            // width: calc(100% / 4);
            font-size: $hdr01;
            font-weight: 700;
            line-height: $hdr02;
            margin: auto;
        }
    }
}

// 컨텐츠 공통
.cntWrap{
    .content{
        header{
            h2{
                margin: 40px 0px;
            }
        }
    }
}

// 컨텐츠1
.cntWrap{
    .content.cnt01{
        header{
            h2{}
        }
        section{
            margin-top: 40px;
        }
    }
}
// 컨텐츠2
.cntWrap{
    .content.cnt02{
        header{
            h2{}
        }
        section{
            margin-top: 40px;
            article{
                width: calc(100% / 4 * 3);
                .image{
                    width: calc(100% / 4 * 3);
                    .ovrGrid{

                    }
                    &.image.i1{
                        width: 100%;
                        margin-left: -330px;
                        }
                    &.image.i2{
                        display: none;
                    }
                    &.image.i3{
                        width: 100%;
                        margin-left: -330px;
                    }
                    &.image.i4{
                        display: none;
                    }
                    &.image.i5{
                        width: 100%;
                        margin-left: -330px;
                    }
                }
                .texts{
                    display: none;
                    h5{}
                    h3{}
                    p{
                        display: none;
                    }
                }

            }
        }
    }
}
// 배너
.bnrWrap{
    margin-top: 40px;
    .banner{
        height: $bnr01;
        h3{
            margin-top: -40px;
            &::after{
                width: 130px;
            }
        }
        h5{
            display: none;
        }
        .btn{
            margin-top: 40px;
            width: calc(100% / 4 * 1.5);
            line-height: $hdr02;
        }
    }
}

// 비디오
.bidWrap{
    .video{
        height: $cnt03;
        h2{
            margin: 40px 0px;
        }
    }
    .image{
    }
}

// 푸터
.ftrWrap{
    // margin-top: 60px;
    footer{
        display: block;
        // width: 200%;   
        padding: 40px 0px; 
        .ftrLeft{
            h1{
                text-align: center;
            // width: 100%;
            line-height: $cnt02;
            width: 40%;
            // height: 50px;
            margin: auto;
            }
            h4{}
        }
        .ftrRight{
            nav{
                display: none;
            }
            .sns{
                // width: 100%;
                text-align: center;
                font-size: $cnt02;
            }
            .contact{}
        }
    }
}