@font-face {
    font-family: 'Anton';
    src: url('../fonts/Anton-Regular.ttf');
  }
  @font-face {
    font-family: 'Ibmp';
    src: url('../fonts/IBMPlexSansKR-Light.ttf');
  }
  @font-face {
    font-family: 'Robo';
    src: url('../fonts/RobotoSlab-Light.ttf');
  }
  @font-face {
    font-family: 'Yanon';
    src: url('../fonts/YanoneKaffeesatz-VariableFont_wght.ttf');
  }

html{
    font-size: 3vw;
}
body{
    font-size: 0.7vw;
    /* height: 700vw; */
}

$hdr01 : #{'min(2em,20px)'};
$bnr01 : #{'min(14rem,560px)'};
$bnr02 : #{'min(5em,50px)'};
$bnr03 : #{'min(2.5em,25px)'};
$bnr04 : #{'min(0.1rem,4px)'};
$bnr05 : #{'min(2rem,80px)'};
$cnt01 : #{'min(6rem,240px)'};
$cnt02 : #{'min(16rem,640px)'};
$cnt03 : #{'min(3em,30px)'};
$cnt04 : #{'min(0.1em,4px)'};
$cnt05 : #{'min(1.8em,18px)'};
$cnt06 : #{'min(1rem,40px)'};
$cnt07 : #{'min(7rem,280px)'};


// 헤더
.hdrWrap{
    padding: 40px 0px;
    header{
        width: 80%;
        max-width: 1080px;
        margin: 0 auto;
        justify-content: space-between;
        display: flex;
        line-height: 60px;
        font-family: 'Robo';
        h1{
            width: calc(100% / 12 * 5);
            background-image: url('../image/hollyscoffeelogo1.jpg');
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            a{
                width: 100%;
                height: 100%;
                display: block;
            }
        }
        nav{
            width: calc(100% / 12 * 6);
            justify-content: space-between;
            display: flex;
            h4{
                font-size: $hdr01;
                text-transform: uppercase;
            }
        }
    }
}

// 배너
.bnrWrap{
    margin-top: 80px;
    .banner{
        text-align: center;
        background-color: pink;
        height: $bnr01;
        padding: 120px 0px;
        background-image: url('../image/hollyssub2/banner/img.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        h3{
        font-size: $bnr02;
        text-align: center;
        font-weight: 700;
        line-height: $bnr05;
        text-transform: capitalize;
        font-family: 'Yanon';
        &::after{
            width: 400px;
            height: $bnr04;
            background-color: #000;
            content: '';
                display: block;
                margin: auto;
            }
    }
    h5{
        font-size: $bnr03;
        margin: 40px 0px;
        font-family: 'Ibmp';
    }
    .btn{
        font-size: $hdr01;
        background-color: #fff;
        border: 2px solid #000;
        border-radius: 5px;
        line-height: $bnr05;
        font-weight: 700;
        width: calc(100% / 12 * 2);
        margin: auto;
        font-family: 'Ibmp';
    }
}
}

// 컨텐츠 공통
.cntWrap{
    margin-top: 120px;
    .content{
        header{
            h2{
                font-size: $bnr03;
                text-transform: capitalize;
                font-weight: 700;
                text-align: center;
            }
        }
        section{
            margin-top: 80px;
        }
    }
}
// 컨텐츠1
.cntWrap{
    .content.cnt01{
        width: 80%;
        max-width: 1080px;
        margin: 0 auto;
        font-family: 'Robo';
        header{}
        section{
            .artTop{
                justify-content: space-between;
                display: flex;
                article{
                    width: calc(100% / 4 - 20px);
                    .image{
                        background-color: #f0d393;
                        height: $cnt01;
                        border-radius: 60%;
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: cover;
                        &.image.i1{
                            background-image: url('../image/hollyssub2/content1/img1.png');
                        }
                        &.image.i2{
                            background-image: url('../image/hollyssub2/content1/img2.png');
                        }
                        &.image.i3{
                            background-image: url('../image/hollyssub2/content1/img3.png');
                        }
                        &.image.i4{
                            background-image: url('../image/hollyssub2/content1/img4.png');
                        }
                    }
                    .texts{
                        h3{
                            font-size: $hdr01;
                            font-weight: 700;
                            text-align: center;
                            line-height: $bnr05;
                            font-family: 'Ibmp';
                        }
                    }
                }
            }
            .artBtm{
                justify-content: space-between;
                display: flex;
                article{
                    width: calc(100% / 4 - 20px);
                    .image{
                        background-color: #f0d393;
                        height: $cnt01;
                        border-radius: 60%;
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: cover;
                        &.image.i5{
                            background-image: url('../image/hollyssub2/content1/img5.png');
                        }
                        &.image.i6{
                            background-image: url('../image/hollyssub2/content1/img6.png');
                        }
                        &.image.i7{
                            background-image: url('../image/hollyssub2/content1/img7.png');
                        }
                        &.image.i8{
                            background-image: url('../image/hollyssub2/content1/img8.png');
                        }
                    }
                    .texts{
                        h3{
                            font-size: $hdr01;
                            font-weight: 700;
                            text-align: center;
                            line-height: $bnr05;
                            font-family: 'Ibmp';
                        }
                    }
                }
            }
        }
    }
}
// 컨텐츠2
.cntWrap{
    .content.cnt02{
        font-family: 'Robo';
        header{}
        section{
            .artView{
                height: $cnt02;
                overflow: hidden;
                position: relative;
                .artGroup{
                    width: 500%;
                    justify-content: space-between;
                    display: flex;
                    transition: all 0.5s;
                    li{
                        width: calc(100% / 5);
                        height: $cnt02;
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: cover;
                        &:nth-child(1){
                            background-image: url('../image/hollyssub2/silde/img1.jpg');
                        }
                        &:nth-child(2){
                            background-image: url('../image/hollyssub2/silde/img2.jpg');
                        }
                        &:nth-child(3){
                            background-image: url('../image/hollyssub2/silde/img3.jpg');
                        }
                        &:nth-child(4){
                            background-image: url('../image/hollyssub2/silde/img4.jpg');
                        }
                        &:nth-child(5){
                            background-image: url('../image/hollyssub2/silde/img5.jpg');
                        }
                    }
                }
                .paging{
                    width: calc(100% / 5);
                    margin: auto;
                    left: 0;
                    right: 0;
                    bottom: 30px;
                    position: absolute;
                    justify-content: space-between;
                    display: flex;
                    li{
                        width: 20px;
                        height: 20px;
                        background-color: #fff;
                        border-radius: 20px;
                        &.show{
                            width: 40px;
                        }
                    }
                }
            }
        }
    }
}
// 컨텐츠3
.cntWrap{
    .content.cnt03{
        width: 80%;
        max-width: 1080px;
        margin: 0 auto;
        header{
            h2{
                margin-top: 80px;
                font-family: 'Robo';
            }
        }
        section{
            article{
                height: #{'min(9rem,360px)'};
                position: relative;
                .image{
                    width: calc(100% / 12 * 6);
                    position: absolute;
                    height: $cnt07;
                    background-color: pink;
                    margin-top: 40px;
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    &.i1{
                        top: 0;
                        right: 0;
                        background-image: url('../image/hollyssub2/content2/img1.png');
                    }
                    &.i2{
                        top: 0;
                        left: 0;
                        background-image: url('../image/hollyssub2/content2/img2.jpg');
                    }
                    &.i3{
                        top: 0;
                        right: 0;
                        background-image: url('../image/hollyssub2/content2/img3.jpeg');
                    }
                }
                .texts{
                    position: absolute;
                    width: calc(100% / 12 * 8);
                    top: #{'min(2rem,80px)'};
                    .txt{
                        position: absolute;
                        top: 0;
                        right: calc(100% / 8 * 2);
                        padding: 40px 0px;
                        margin-right: 10px;
                        h5{
                            font-size: $hdr01;
                            font-weight: 700;
                            color: #a02b2b;
                            font-family: 'Robo';
                            &::after{
                                content: '';
                                display: block;
                                width: 30px;
                                height: $bnr04;
                                background-color: #a02b2b;
                            }
                        }
                        h3{
                            font-size: $cnt03;
                            font-weight: 700;
                            line-height: $bnr05;
                            font-family: 'Yanon';
                        }
                        p{
                            font-size: $hdr01;
                            font-family: 'Ibmp';
                        }
                    }
                    .ovrGrid{
                        min-width: calc((100vw - 80vw) / 2 + 100%);
                        width: calc((100vw - 1080px) / 2 + 100%);
                        height: $cnt07;
                        background-color: #e6aa95;
                        // position: absolute;
                        // top: 0;
                    }
                }
                &:nth-child(2){
                    .texts{
                        right: 0;
                        .txt{
                            right: calc(100% / 8);
                            h5{
                                color: #c89b39;
                                &::after{
                                    background-color: #c89b39;
                                }
                            }
                        }
                        .ovrGrid{
                            background-color: #f0d393;
                        }

                    }
                    .image.i2{
                        z-index: 5;
                    }
                }
                &:nth-child(1){
                    .texts{
                        left: 0;
                        position: absolute;
                        .ovrGrid{
                            margin-left: calc((100vw - 1080px) / -2);
                        }
                    }
                    .image.i1{
                        right: 0;
                        z-index: 5;

                    }
                }
                &:nth-child(3){
                    .texts{
                        left: 0;
                        .ovrGrid{
                            margin-left: calc((100vw - 1080px) / -2);
                        }
                    }
                    .image.i3{
                        z-index: 5;
                    }
                }
            }
        }
    }
}
// 푸터
.ftrWrap{
    margin-top: 80px;
    footer{
        width: 80%;
        max-width: 1080px;
        margin: 0 auto;
        justify-content: space-between;
        display: flex;
        padding: 80px 0px;
        .ftrLeft{
            h1{
                background-image: url('../image/hollyscoffeelogo2.jpg');
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                height: 150px;
                width: calc(100% / 6 * 1.5);
                a{
                    width: 100%;
                    height: 100%;
                    display: block;
                }
            }
            h4{
                margin-top: 100px;
                color: gray;
                font-size: $cnt05;
                font-family: 'Ibmp';
            }
        }
        .ftrRight{
            nav{
                justify-content: space-between;
                display: flex;
                h4{
                    margin-left: 50px;
                    font-size: $hdr01;
                    text-transform: capitalize;
                    line-height: $bnr05;
                    font-weight: 700;
                    font-family: 'Robo';
                }
            }
            .sns{
                text-align: right;
                font-size: $cnt03;
            }
            .contact{
                width: calc(100% / 6 * 5);
                text-align: right;
                font-size: $hdr01;
                background-color: #af3939;
                text-align: center;
                border-radius: 30px;
                color: #fff;
                line-height: $cnt06;
                margin-left: 60px;
                margin-top: 40px;
                font-family: 'Ibmp';
            }
        }
    }
}